{% extends '::base.html.twig' %}

{% block body -%}
    {% if players | length != 0 %}
        <form name="add_player" method="post" action="{{ path('goldsprint_add_players', { 'id': entity.id }) }}">
            <table class="table table-bordered table-striped table-fixed table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Player</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td><input id="player{{ player.id }}" type="checkbox" name="players[]" value="{{ player.id }}" /></td>
                            <td><label for="player{{ player.id }}">{{ player.name }}</label></td>
                            <td>{{ player.city }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"><button type="submit" class="btn btn-sm btn-primary pull-right">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    {% else %}
        All the players are already in the Goldsprint
        <a href="{{ path('player_new') }}" class="btn btn-primary btn-sm pull-right" role="button">
            <span class="glyphicon glyphicon-plus"></span> New Player
        </a>
    {% endif %}
{% endblock %}