{% for step, runs in formated_gs %}

    <h4>Round {{ step }} : {% if step <= entity.type.nbChampionshipRound %}<small>Championship</small>{% elseif step > entity.type.nbChampionshipRound %}<small>Tournament</small>{% endif %}</h4>
    <table class="table table-bordered table-condensed table-hover">
        {% for run in runs %}
            <tr>
                <td style="text-align: right; width: 20%;">{{ run.time1 | gstime }}</td>
                <td style="text-align: center; width: 30%;">{% if run.winner == run.player1 %}{{ include('SiriruGSBundle:Utility:winner.html.twig') }}{% endif %} <a href="{{ path('run_edit', {'id': run.id}) }}">{{ run.player1 }}</a></td>
                <td style="text-align: center; width: 30%;"><a href="{{ path('run_edit', {'id': run.id}) }}">{{ run.player2 }}</a>{% if run.winner == run.player2 %} {{ include('SiriruGSBundle:Utility:winner.html.twig') }}{% endif %}</td>
                <td style="text-align: left; width: 20%;">{{ run.time2 | gstime }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}