<tr>
    <td data-time="{{ run.time1 }}" class="time" style="text-align: right; width: 20%;">{{ run.time1 | gstime }}</td>
    <td style="text-align: center; width: 30%;"><a href="{{ path('run_edit', {'id': run.id}) }}">{{ run.player1 }}</a></td>
    <td style="text-align: center; width: 30%;"><a href="{{ path('run_edit', {'id': run.id}) }}">{{ run.player2 }}</a></td>
    <td data-time="{{ run.time2 }}" class="time" style="text-align: left; width: 20%;">{{ run.time2 | gstime }}</td>
</tr>