<table class="table table-bordered table-hover table-condensed" style="width: 40%; margin: 0 auto;">
    {% for player, result in entity.type.results %}
        <tr>
            <td style="text-align: center;">{{ loop.index }}</td>
            <td style="text-align: center;">
                {% if loop.index == 1 %}{{ include('SiriruGSBundle:Utility:first.html.twig') }}
                {% elseif loop.index == 2 %}{{ include('SiriruGSBundle:Utility:second.html.twig') }}
                {% elseif loop.index == 3 %}{{ include('SiriruGSBundle:Utility:third.html.twig') }}
                {% endif %}
                {{ result['object'] }}
            </td>
            <td>
                {{ result['time'] | gstime }}
                {% if result['personal-record'] %}<span style="font-size: 7pt;" class="label label-default">PR</span>{% endif %}
                {% if result['goldsprint-record'] %}<span style="font-size: 7pt;" class="label label-primary">GR</span>{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>


