{% extends '::base.html.twig' %}

{% block body -%}

    <h1>Goldsprint / {{ entity.location }} / {{ entity.date|date('Y-m-d H:i') }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
            Start <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('goldsprint_start', { 'id': entity.id, 'type': 'tournament' }) }}">Start Tournament</a></li>
            <li><a href="{{ path('goldsprint_start', { 'id': entity.id, 'type': 'championship' }) }}">Start Championship</a></li>
            <li><a href="{{ path('goldsprint_start', { 'id': entity.id, 'type': 'championship-tournament' }) }}">Start Championship / Tournament</a></li>
            <li><a href="{{ path('goldsprint_start', { 'id': entity.id, 'type': 'free-session' }) }}">Start Free session</a></li>
        </ul>
    </div>
{% endblock %}