{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Goldsprint list</h1>

    <table class="table table-bordered table-responsive table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Created</th>
                <th>Started</th>
                <th>Finished</th>
                <th width="200">Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.location }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.started %}<span class="label label-success">Yes</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>{% if entity.finished %}<span class="label label-success">Yes</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>{% if entity.type %}{{ entity.type.name }}{% else %}<span class="label label-danger">Not set</span>{% endif %}</td>
                <td>
                    <ul class="table-action">
                        <li>
                            <a href="{{ path('goldsprint_show', { 'id': entity.id }) }}">
                                <button type="button" class="btn btn-warning btn-xs">
                                    <span class="glyphicon glyphicon-search"></span> Show
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('goldsprint_edit', { 'id': entity.id }) }}">
                                <button type="button" class="btn btn-warning btn-xs">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </button>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('goldsprint_new') }}" class="btn btn-primary btn-sm pull-right" role="button">
        <span class="glyphicon glyphicon-plus"></span> New Goldsprint
    </a>
    {% endblock %}
